FormDesignFSS2/Web References/GiaiNganWS/GiaiNganBUS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TimKiemGN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="soTKLK" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemGNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimKiemGNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="xemChiTietGN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maGN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="xemChiTietGNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xemChiTietGNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TimKiemGNSoapIn">
    <wsdl:part name="parameters" element="tns:TimKiemGN" />
  </wsdl:message>
  <wsdl:message name="TimKiemGNSoapOut">
    <wsdl:part name="parameters" element="tns:TimKiemGNResponse" />
  </wsdl:message>
  <wsdl:message name="xemChiTietGNSoapIn">
    <wsdl:part name="parameters" element="tns:xemChiTietGN" />
  </wsdl:message>
  <wsdl:message name="xemChiTietGNSoapOut">
    <wsdl:part name="parameters" element="tns:xemChiTietGNResponse" />
  </wsdl:message>
  <wsdl:portType name="GiaiNganBUSSoap">
    <wsdl:operation name="TimKiemGN">
      <wsdl:input message="tns:TimKiemGNSoapIn" />
      <wsdl:output message="tns:TimKiemGNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="xemChiTietGN">
      <wsdl:input message="tns:xemChiTietGNSoapIn" />
      <wsdl:output message="tns:xemChiTietGNSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GiaiNganBUSSoap" type="tns:GiaiNganBUSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimKiemGN">
      <soap:operation soapAction="http://tempuri.org/TimKiemGN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xemChiTietGN">
      <soap:operation soapAction="http://tempuri.org/xemChiTietGN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GiaiNganBUSSoap12" type="tns:GiaiNganBUSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimKiemGN">
      <soap12:operation soapAction="http://tempuri.org/TimKiemGN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xemChiTietGN">
      <soap12:operation soapAction="http://tempuri.org/xemChiTietGN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GiaiNganBUS">
    <wsdl:port name="GiaiNganBUSSoap" binding="tns:GiaiNganBUSSoap">
      <soap:address location="http://localhost:49220/GiaiNganBUS.asmx" />
    </wsdl:port>
    <wsdl:port name="GiaiNganBUSSoap12" binding="tns:GiaiNganBUSSoap12">
      <soap12:address location="http://localhost:49220/GiaiNganBUS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>