FormDesignFSS2/Web References/GiaiNganWS/GiaiNganBUS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TimKiemGN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="soTKLK" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemGNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimKiemGNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="layDSGN">
        <s:complexType />
      </s:element>
      <s:element name="layDSGNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="layDSGNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="xemChiTietGN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maGN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="xemChiTietGNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xemChiTietGNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KTThongTinNhap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="soTKLK" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soTienGN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="soTienCoTheChoVay" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="loaiKH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ghiChu" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KTThongTinNhapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KTThongTinNhapResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="themGiaiNgan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonDataGiaiNgan" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="themGiaiNganResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="themGiaiNganResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="taoMaGN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="soTKLK" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="taoMaGNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taoMaGNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KTTTSuaGN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="soTKLK" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ngayGN" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="soTienGN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="soTienCoTheChoVay" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="loaiKH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ghiChu" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KTTTSuaGNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KTTTSuaGNResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaGN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maGN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="soTienGN" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idSPTD" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ghiChu" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaGNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SuaGNResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TimKiemGNSoapIn">
    <wsdl:part name="parameters" element="tns:TimKiemGN" />
  </wsdl:message>
  <wsdl:message name="TimKiemGNSoapOut">
    <wsdl:part name="parameters" element="tns:TimKiemGNResponse" />
  </wsdl:message>
  <wsdl:message name="layDSGNSoapIn">
    <wsdl:part name="parameters" element="tns:layDSGN" />
  </wsdl:message>
  <wsdl:message name="layDSGNSoapOut">
    <wsdl:part name="parameters" element="tns:layDSGNResponse" />
  </wsdl:message>
  <wsdl:message name="xemChiTietGNSoapIn">
    <wsdl:part name="parameters" element="tns:xemChiTietGN" />
  </wsdl:message>
  <wsdl:message name="xemChiTietGNSoapOut">
    <wsdl:part name="parameters" element="tns:xemChiTietGNResponse" />
  </wsdl:message>
  <wsdl:message name="KTThongTinNhapSoapIn">
    <wsdl:part name="parameters" element="tns:KTThongTinNhap" />
  </wsdl:message>
  <wsdl:message name="KTThongTinNhapSoapOut">
    <wsdl:part name="parameters" element="tns:KTThongTinNhapResponse" />
  </wsdl:message>
  <wsdl:message name="themGiaiNganSoapIn">
    <wsdl:part name="parameters" element="tns:themGiaiNgan" />
  </wsdl:message>
  <wsdl:message name="themGiaiNganSoapOut">
    <wsdl:part name="parameters" element="tns:themGiaiNganResponse" />
  </wsdl:message>
  <wsdl:message name="taoMaGNSoapIn">
    <wsdl:part name="parameters" element="tns:taoMaGN" />
  </wsdl:message>
  <wsdl:message name="taoMaGNSoapOut">
    <wsdl:part name="parameters" element="tns:taoMaGNResponse" />
  </wsdl:message>
  <wsdl:message name="KTTTSuaGNSoapIn">
    <wsdl:part name="parameters" element="tns:KTTTSuaGN" />
  </wsdl:message>
  <wsdl:message name="KTTTSuaGNSoapOut">
    <wsdl:part name="parameters" element="tns:KTTTSuaGNResponse" />
  </wsdl:message>
  <wsdl:message name="SuaGNSoapIn">
    <wsdl:part name="parameters" element="tns:SuaGN" />
  </wsdl:message>
  <wsdl:message name="SuaGNSoapOut">
    <wsdl:part name="parameters" element="tns:SuaGNResponse" />
  </wsdl:message>
  <wsdl:portType name="GiaiNganBUSSoap">
    <wsdl:operation name="TimKiemGN">
      <wsdl:input message="tns:TimKiemGNSoapIn" />
      <wsdl:output message="tns:TimKiemGNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="layDSGN">
      <wsdl:input message="tns:layDSGNSoapIn" />
      <wsdl:output message="tns:layDSGNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="xemChiTietGN">
      <wsdl:input message="tns:xemChiTietGNSoapIn" />
      <wsdl:output message="tns:xemChiTietGNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KTThongTinNhap">
      <wsdl:input message="tns:KTThongTinNhapSoapIn" />
      <wsdl:output message="tns:KTThongTinNhapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="themGiaiNgan">
      <wsdl:input message="tns:themGiaiNganSoapIn" />
      <wsdl:output message="tns:themGiaiNganSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="taoMaGN">
      <wsdl:input message="tns:taoMaGNSoapIn" />
      <wsdl:output message="tns:taoMaGNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KTTTSuaGN">
      <wsdl:input message="tns:KTTTSuaGNSoapIn" />
      <wsdl:output message="tns:KTTTSuaGNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuaGN">
      <wsdl:input message="tns:SuaGNSoapIn" />
      <wsdl:output message="tns:SuaGNSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GiaiNganBUSSoap" type="tns:GiaiNganBUSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimKiemGN">
      <soap:operation soapAction="http://tempuri.org/TimKiemGN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="layDSGN">
      <soap:operation soapAction="http://tempuri.org/layDSGN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xemChiTietGN">
      <soap:operation soapAction="http://tempuri.org/xemChiTietGN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KTThongTinNhap">
      <soap:operation soapAction="http://tempuri.org/KTThongTinNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="themGiaiNgan">
      <soap:operation soapAction="http://tempuri.org/themGiaiNgan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="taoMaGN">
      <soap:operation soapAction="http://tempuri.org/taoMaGN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KTTTSuaGN">
      <soap:operation soapAction="http://tempuri.org/KTTTSuaGN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaGN">
      <soap:operation soapAction="http://tempuri.org/SuaGN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GiaiNganBUSSoap12" type="tns:GiaiNganBUSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimKiemGN">
      <soap12:operation soapAction="http://tempuri.org/TimKiemGN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="layDSGN">
      <soap12:operation soapAction="http://tempuri.org/layDSGN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xemChiTietGN">
      <soap12:operation soapAction="http://tempuri.org/xemChiTietGN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KTThongTinNhap">
      <soap12:operation soapAction="http://tempuri.org/KTThongTinNhap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="themGiaiNgan">
      <soap12:operation soapAction="http://tempuri.org/themGiaiNgan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="taoMaGN">
      <soap12:operation soapAction="http://tempuri.org/taoMaGN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KTTTSuaGN">
      <soap12:operation soapAction="http://tempuri.org/KTTTSuaGN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaGN">
      <soap12:operation soapAction="http://tempuri.org/SuaGN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GiaiNganBUS">
    <wsdl:port name="GiaiNganBUSSoap" binding="tns:GiaiNganBUSSoap">
      <soap:address location="http://localhost:49220/GiaiNganBUS.asmx" />
    </wsdl:port>
    <wsdl:port name="GiaiNganBUSSoap12" binding="tns:GiaiNganBUSSoap12">
      <soap12:address location="http://localhost:49220/GiaiNganBUS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>