FormDesignFSS2/Web References/ReportWS/ReportBUS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetListDSDuNoA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ngayHT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDSDuNoAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListDSDuNoAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDSDuNoB">
        <s:complexType />
      </s:element>
      <s:element name="GetListDSDuNoBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListDSDuNoBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDSDuNoC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ngayHT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDSDuNoCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListDSDuNoCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDSKHHetNo">
        <s:complexType />
      </s:element>
      <s:element name="GetListDSKHHetNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListDSKHHetNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDSDuNoE">
        <s:complexType />
      </s:element>
      <s:element name="GetListDSDuNoEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListDSDuNoEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDSSPTDA">
        <s:complexType />
      </s:element>
      <s:element name="GetListDSSPTDAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListDSSPTDAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDSSPTDB">
        <s:complexType />
      </s:element>
      <s:element name="GetListDSSPTDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListDSSPTDBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDSGNA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gioHT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDSGNAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListDSGNAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDSGNB">
        <s:complexType />
      </s:element>
      <s:element name="GetListDSGNBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListDSGNBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListDSNguonA">
        <s:complexType />
      </s:element>
      <s:element name="GetListDSNguonAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListDSNguonAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetListDSDuNoASoapIn">
    <wsdl:part name="parameters" element="tns:GetListDSDuNoA" />
  </wsdl:message>
  <wsdl:message name="GetListDSDuNoASoapOut">
    <wsdl:part name="parameters" element="tns:GetListDSDuNoAResponse" />
  </wsdl:message>
  <wsdl:message name="GetListDSDuNoBSoapIn">
    <wsdl:part name="parameters" element="tns:GetListDSDuNoB" />
  </wsdl:message>
  <wsdl:message name="GetListDSDuNoBSoapOut">
    <wsdl:part name="parameters" element="tns:GetListDSDuNoBResponse" />
  </wsdl:message>
  <wsdl:message name="GetListDSDuNoCSoapIn">
    <wsdl:part name="parameters" element="tns:GetListDSDuNoC" />
  </wsdl:message>
  <wsdl:message name="GetListDSDuNoCSoapOut">
    <wsdl:part name="parameters" element="tns:GetListDSDuNoCResponse" />
  </wsdl:message>
  <wsdl:message name="GetListDSKHHetNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetListDSKHHetNo" />
  </wsdl:message>
  <wsdl:message name="GetListDSKHHetNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetListDSKHHetNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetListDSDuNoESoapIn">
    <wsdl:part name="parameters" element="tns:GetListDSDuNoE" />
  </wsdl:message>
  <wsdl:message name="GetListDSDuNoESoapOut">
    <wsdl:part name="parameters" element="tns:GetListDSDuNoEResponse" />
  </wsdl:message>
  <wsdl:message name="GetListDSSPTDASoapIn">
    <wsdl:part name="parameters" element="tns:GetListDSSPTDA" />
  </wsdl:message>
  <wsdl:message name="GetListDSSPTDASoapOut">
    <wsdl:part name="parameters" element="tns:GetListDSSPTDAResponse" />
  </wsdl:message>
  <wsdl:message name="GetListDSSPTDBSoapIn">
    <wsdl:part name="parameters" element="tns:GetListDSSPTDB" />
  </wsdl:message>
  <wsdl:message name="GetListDSSPTDBSoapOut">
    <wsdl:part name="parameters" element="tns:GetListDSSPTDBResponse" />
  </wsdl:message>
  <wsdl:message name="GetListDSGNASoapIn">
    <wsdl:part name="parameters" element="tns:GetListDSGNA" />
  </wsdl:message>
  <wsdl:message name="GetListDSGNASoapOut">
    <wsdl:part name="parameters" element="tns:GetListDSGNAResponse" />
  </wsdl:message>
  <wsdl:message name="GetListDSGNBSoapIn">
    <wsdl:part name="parameters" element="tns:GetListDSGNB" />
  </wsdl:message>
  <wsdl:message name="GetListDSGNBSoapOut">
    <wsdl:part name="parameters" element="tns:GetListDSGNBResponse" />
  </wsdl:message>
  <wsdl:message name="GetListDSNguonASoapIn">
    <wsdl:part name="parameters" element="tns:GetListDSNguonA" />
  </wsdl:message>
  <wsdl:message name="GetListDSNguonASoapOut">
    <wsdl:part name="parameters" element="tns:GetListDSNguonAResponse" />
  </wsdl:message>
  <wsdl:portType name="ReportBUSSoap">
    <wsdl:operation name="GetListDSDuNoA">
      <wsdl:input message="tns:GetListDSDuNoASoapIn" />
      <wsdl:output message="tns:GetListDSDuNoASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListDSDuNoB">
      <wsdl:input message="tns:GetListDSDuNoBSoapIn" />
      <wsdl:output message="tns:GetListDSDuNoBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListDSDuNoC">
      <wsdl:input message="tns:GetListDSDuNoCSoapIn" />
      <wsdl:output message="tns:GetListDSDuNoCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListDSKHHetNo">
      <wsdl:input message="tns:GetListDSKHHetNoSoapIn" />
      <wsdl:output message="tns:GetListDSKHHetNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListDSDuNoE">
      <wsdl:input message="tns:GetListDSDuNoESoapIn" />
      <wsdl:output message="tns:GetListDSDuNoESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListDSSPTDA">
      <wsdl:input message="tns:GetListDSSPTDASoapIn" />
      <wsdl:output message="tns:GetListDSSPTDASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListDSSPTDB">
      <wsdl:input message="tns:GetListDSSPTDBSoapIn" />
      <wsdl:output message="tns:GetListDSSPTDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListDSGNA">
      <wsdl:input message="tns:GetListDSGNASoapIn" />
      <wsdl:output message="tns:GetListDSGNASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListDSGNB">
      <wsdl:input message="tns:GetListDSGNBSoapIn" />
      <wsdl:output message="tns:GetListDSGNBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListDSNguonA">
      <wsdl:input message="tns:GetListDSNguonASoapIn" />
      <wsdl:output message="tns:GetListDSNguonASoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportBUSSoap" type="tns:ReportBUSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListDSDuNoA">
      <soap:operation soapAction="http://tempuri.org/GetListDSDuNoA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSDuNoB">
      <soap:operation soapAction="http://tempuri.org/GetListDSDuNoB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSDuNoC">
      <soap:operation soapAction="http://tempuri.org/GetListDSDuNoC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSKHHetNo">
      <soap:operation soapAction="http://tempuri.org/GetListDSKHHetNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSDuNoE">
      <soap:operation soapAction="http://tempuri.org/GetListDSDuNoE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSSPTDA">
      <soap:operation soapAction="http://tempuri.org/GetListDSSPTDA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSSPTDB">
      <soap:operation soapAction="http://tempuri.org/GetListDSSPTDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSGNA">
      <soap:operation soapAction="http://tempuri.org/GetListDSGNA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSGNB">
      <soap:operation soapAction="http://tempuri.org/GetListDSGNB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSNguonA">
      <soap:operation soapAction="http://tempuri.org/GetListDSNguonA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReportBUSSoap12" type="tns:ReportBUSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListDSDuNoA">
      <soap12:operation soapAction="http://tempuri.org/GetListDSDuNoA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSDuNoB">
      <soap12:operation soapAction="http://tempuri.org/GetListDSDuNoB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSDuNoC">
      <soap12:operation soapAction="http://tempuri.org/GetListDSDuNoC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSKHHetNo">
      <soap12:operation soapAction="http://tempuri.org/GetListDSKHHetNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSDuNoE">
      <soap12:operation soapAction="http://tempuri.org/GetListDSDuNoE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSSPTDA">
      <soap12:operation soapAction="http://tempuri.org/GetListDSSPTDA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSSPTDB">
      <soap12:operation soapAction="http://tempuri.org/GetListDSSPTDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSGNA">
      <soap12:operation soapAction="http://tempuri.org/GetListDSGNA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSGNB">
      <soap12:operation soapAction="http://tempuri.org/GetListDSGNB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDSNguonA">
      <soap12:operation soapAction="http://tempuri.org/GetListDSNguonA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportBUS">
    <wsdl:port name="ReportBUSSoap" binding="tns:ReportBUSSoap">
      <soap:address location="http://localhost:49220/ReportBUS.asmx" />
    </wsdl:port>
    <wsdl:port name="ReportBUSSoap12" binding="tns:ReportBUSSoap12">
      <soap12:address location="http://localhost:49220/ReportBUS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>