FormDesignFSS2/Web References/TraNoWS/TraNoBUS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetListGN">
        <s:complexType />
      </s:element>
      <s:element name="GetListGNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListGNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListGNWithIdKH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idKH" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListGNWithIdKHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListGNWithIdKHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maGN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KTThongTinTraNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maGN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soTienTra" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="duNoGoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="duNoLaiTrongHan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="duNoLaiQuaHan" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KTThongTinTraNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KTThongTinTraNoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TaoMaTraNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maGN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TaoMaTraNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TaoMaTraNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemTN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemTNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemTNResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatDuNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maGN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="duNoGoc" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="duNoLaiTrongHan" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="duNoLaiQuaHan" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatDuNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CapNhatDuNoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatNguon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idNg" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="tienDaChoVay" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="tienCoTheChoVay" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatNguonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CapNhatNguonResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIDGN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maGN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIDGNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIDGNResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListTN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idGN" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListTNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListTNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetListGNSoapIn">
    <wsdl:part name="parameters" element="tns:GetListGN" />
  </wsdl:message>
  <wsdl:message name="GetListGNSoapOut">
    <wsdl:part name="parameters" element="tns:GetListGNResponse" />
  </wsdl:message>
  <wsdl:message name="GetListGNWithIdKHSoapIn">
    <wsdl:part name="parameters" element="tns:GetListGNWithIdKH" />
  </wsdl:message>
  <wsdl:message name="GetListGNWithIdKHSoapOut">
    <wsdl:part name="parameters" element="tns:GetListGNWithIdKHResponse" />
  </wsdl:message>
  <wsdl:message name="GetGNSoapIn">
    <wsdl:part name="parameters" element="tns:GetGN" />
  </wsdl:message>
  <wsdl:message name="GetGNSoapOut">
    <wsdl:part name="parameters" element="tns:GetGNResponse" />
  </wsdl:message>
  <wsdl:message name="KTThongTinTraNoSoapIn">
    <wsdl:part name="parameters" element="tns:KTThongTinTraNo" />
  </wsdl:message>
  <wsdl:message name="KTThongTinTraNoSoapOut">
    <wsdl:part name="parameters" element="tns:KTThongTinTraNoResponse" />
  </wsdl:message>
  <wsdl:message name="TaoMaTraNoSoapIn">
    <wsdl:part name="parameters" element="tns:TaoMaTraNo" />
  </wsdl:message>
  <wsdl:message name="TaoMaTraNoSoapOut">
    <wsdl:part name="parameters" element="tns:TaoMaTraNoResponse" />
  </wsdl:message>
  <wsdl:message name="ThemTNSoapIn">
    <wsdl:part name="parameters" element="tns:ThemTN" />
  </wsdl:message>
  <wsdl:message name="ThemTNSoapOut">
    <wsdl:part name="parameters" element="tns:ThemTNResponse" />
  </wsdl:message>
  <wsdl:message name="CapNhatDuNoSoapIn">
    <wsdl:part name="parameters" element="tns:CapNhatDuNo" />
  </wsdl:message>
  <wsdl:message name="CapNhatDuNoSoapOut">
    <wsdl:part name="parameters" element="tns:CapNhatDuNoResponse" />
  </wsdl:message>
  <wsdl:message name="CapNhatNguonSoapIn">
    <wsdl:part name="parameters" element="tns:CapNhatNguon" />
  </wsdl:message>
  <wsdl:message name="CapNhatNguonSoapOut">
    <wsdl:part name="parameters" element="tns:CapNhatNguonResponse" />
  </wsdl:message>
  <wsdl:message name="GetIDGNSoapIn">
    <wsdl:part name="parameters" element="tns:GetIDGN" />
  </wsdl:message>
  <wsdl:message name="GetIDGNSoapOut">
    <wsdl:part name="parameters" element="tns:GetIDGNResponse" />
  </wsdl:message>
  <wsdl:message name="GetListTNSoapIn">
    <wsdl:part name="parameters" element="tns:GetListTN" />
  </wsdl:message>
  <wsdl:message name="GetListTNSoapOut">
    <wsdl:part name="parameters" element="tns:GetListTNResponse" />
  </wsdl:message>
  <wsdl:portType name="TraNoBUSSoap">
    <wsdl:operation name="GetListGN">
      <wsdl:input message="tns:GetListGNSoapIn" />
      <wsdl:output message="tns:GetListGNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListGNWithIdKH">
      <wsdl:input message="tns:GetListGNWithIdKHSoapIn" />
      <wsdl:output message="tns:GetListGNWithIdKHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGN">
      <wsdl:input message="tns:GetGNSoapIn" />
      <wsdl:output message="tns:GetGNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KTThongTinTraNo">
      <wsdl:input message="tns:KTThongTinTraNoSoapIn" />
      <wsdl:output message="tns:KTThongTinTraNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TaoMaTraNo">
      <wsdl:input message="tns:TaoMaTraNoSoapIn" />
      <wsdl:output message="tns:TaoMaTraNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemTN">
      <wsdl:input message="tns:ThemTNSoapIn" />
      <wsdl:output message="tns:ThemTNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatDuNo">
      <wsdl:input message="tns:CapNhatDuNoSoapIn" />
      <wsdl:output message="tns:CapNhatDuNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatNguon">
      <wsdl:input message="tns:CapNhatNguonSoapIn" />
      <wsdl:output message="tns:CapNhatNguonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIDGN">
      <wsdl:input message="tns:GetIDGNSoapIn" />
      <wsdl:output message="tns:GetIDGNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListTN">
      <wsdl:input message="tns:GetListTNSoapIn" />
      <wsdl:output message="tns:GetListTNSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TraNoBUSSoap" type="tns:TraNoBUSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListGN">
      <soap:operation soapAction="http://tempuri.org/GetListGN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListGNWithIdKH">
      <soap:operation soapAction="http://tempuri.org/GetListGNWithIdKH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGN">
      <soap:operation soapAction="http://tempuri.org/GetGN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KTThongTinTraNo">
      <soap:operation soapAction="http://tempuri.org/KTThongTinTraNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaoMaTraNo">
      <soap:operation soapAction="http://tempuri.org/TaoMaTraNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemTN">
      <soap:operation soapAction="http://tempuri.org/ThemTN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatDuNo">
      <soap:operation soapAction="http://tempuri.org/CapNhatDuNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatNguon">
      <soap:operation soapAction="http://tempuri.org/CapNhatNguon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIDGN">
      <soap:operation soapAction="http://tempuri.org/GetIDGN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListTN">
      <soap:operation soapAction="http://tempuri.org/GetListTN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TraNoBUSSoap12" type="tns:TraNoBUSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListGN">
      <soap12:operation soapAction="http://tempuri.org/GetListGN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListGNWithIdKH">
      <soap12:operation soapAction="http://tempuri.org/GetListGNWithIdKH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGN">
      <soap12:operation soapAction="http://tempuri.org/GetGN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KTThongTinTraNo">
      <soap12:operation soapAction="http://tempuri.org/KTThongTinTraNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaoMaTraNo">
      <soap12:operation soapAction="http://tempuri.org/TaoMaTraNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemTN">
      <soap12:operation soapAction="http://tempuri.org/ThemTN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatDuNo">
      <soap12:operation soapAction="http://tempuri.org/CapNhatDuNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatNguon">
      <soap12:operation soapAction="http://tempuri.org/CapNhatNguon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIDGN">
      <soap12:operation soapAction="http://tempuri.org/GetIDGN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListTN">
      <soap12:operation soapAction="http://tempuri.org/GetListTN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TraNoBUS">
    <wsdl:port name="TraNoBUSSoap" binding="tns:TraNoBUSSoap">
      <soap:address location="http://localhost:49220/TraNoBUS.asmx" />
    </wsdl:port>
    <wsdl:port name="TraNoBUSSoap12" binding="tns:TraNoBUSSoap12">
      <soap12:address location="http://localhost:49220/TraNoBUS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>